# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
env/
.venv/

# Django
*.sqlite3
*.sqlite3-journal
backend/staticfiles/
backend/media/
backend/.env

# Node
node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# IDE
.vscode/
.idea/
.DS_Store

# Logs
*.log
